$error_border_color : #a94442;

$error_message_color: #a94442;

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

label {
    text-align: left;
}

input.input-error {
    border-color: $error_border_color;
}

table {
    tbody {
        ul {
            padding-left: 0;
            list-style: none;
        }
    }
}

div.btn-toolbar {
  margin-bottom: 5px;
}

.errorMessage {
  color: $error_message_color;
}

div.error_box {
  div.exceptionErrorMessage {
    div.stackTrace {
      font-family: monospace;
    }
  }
}


.ui-datatable {}  //   Main container element
.ui-datatable-data  {} //    Table body
.ui-datatable-empty-message  {} //    Empty message row
.ui-datatable-header  {} //    Table header
.ui-datatable-footer  {} //    Table footer
.ui-sortable-column  {} //    Sortable columns
.ui-sortable-column-icon   {} //   Icon of a sortable icon
.ui-expanded-row-content   {} //   Content of an expanded row
.ui-row-toggler      {} //Row toggler for row expansion
.ui-editable-column   {} //   Columns with a cell editor
.ui-cell-editor     {} // Container of input and output controls of an editable cell
.ui-cell-editor-input   {} //   Container of input control of an editable cell
.ui-cell-editor-output  {} //    Container of output control of an editable cell
.ui-datatable-even     {} // Even numbered rows
.ui-datatable-odd    {} //  Odd numbered rows
.ui-datatable-scrollable     {} // Main container element of a scrollable table.
.ui-datatable-scrollable-header {} //     Header wrapper of a scrollable table.
.ui-datatable-scrollable-header-box  {} //    Header container of a scrollable table.
.ui-datatable-scrollable-body  {} //

.ui-paginator {}


div[role='navigation'] {
  //  span.ui-state-default {
  //     background-image: none !important;
  ////    background: none !important;
  //  }
  //
  //  span.ui-widget-header {
  //    border: none !important;
  //    background: none !important;
  //  }
  //
  //  span.ui-paginator-page {
  //    border: none !important;
  //    color: #337ab7;
  //  }
  //}
}
span.ui-state-default {
  color: #337ab7 !important;
  font-weight: normal !important;
  border-color: #ccc !important;
  background-image: none !important;
  //    background: none !important;
  &.ui-state-active {
    color: #fff !important;
    cursor: default !important;
    background-color: #337ab7 !important;
    border-color: #337ab7 !important;
  }

  &.ui-state-hover {

  }
}

span.ui-widget-header {
  border: none !important;
  background: none !important;
}

span.ui-paginator-page {
//  border: none !important;
  color: #337ab7;
}
div.ui-paginator {
  background: none !important;
  border: none !important;
}

span.ui-button-text.ui-c {
  padding: 0px !important;
  text-shadow: none !important;
}

th[role='columnheader'].ui-state-default {
  background-image: none !important;
  background-color: white;
  border: none !important;
  border-bottom: 2px solid #ddd !important;
  text-align: left !important;
}

tbody td .ui-datatable {
  border: none !important;
  border-top: 1px solid #ddd !important;

}

span.ui-column-title {
  text-align: left !important;
}

tbody.ui-datatable-data.ui-widget-content {
  border: none !important;
}

tr.ui-widget-content {
  border: none !important;
}

td[role='gridcell'] {
  border: none !important;
  border-top: 1px solid #ddd !important;
}


ul.action_items {
  li {
    a {
      color: #428bca;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

  }
}

